[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"
pylint = "*"
sklearn = "*"
gensim = "*"

[packages]
flask = "*"
numpy = "*"
scipy = "*"
gunicorn = "*"
tensorflow = "*"
pandas = "*"

[requires]
python_version = "3.6"
